<div id="page" class="container">
  <div id="header">
    <div id="logo">
      <img src="static/images/pic02.jpg" alt="" />
      <h1><a href="#">Privy</a></h1>
      <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a href="#" accesskey="1" title="">Домашняя страница</a></li>
        <li><a href="#" accesskey="2" title="">Наши услуги</a></li>
        <li><a href="#" accesskey="3" title="">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="banner">
      <img src="static/images/pic01.jpg" alt="" class="image-full" />
    </div>
    <div id="welcome">
      <div class="title">
        <h2>Эстония - самая благоприятная среда для бизнеса в ЕС</h2>
        <!-- <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> -->
      </div>
      <div class='text'>
        <p>Фирма в Эстонии это: реализация товаров и услуг под эстонской европейской маркой, возможность ввозить в СНГ оборудование, технику, товары без таможенных пошлин и НДС, как уставной капитал совместного предприятия, деньги, вложенные в бизнес в СНГ вашей эстонской фирмой, будут надежно защищены как иностранные инвестиции, счета в эстонских филиалах иностранных банков с управлением онлайн, возможность получения вида на жительство в Эстонии владельцам, членам правления, директорам эстонских фирм, членам их семей, в дальнейшем получения статуса постоянного жителя ЕС через предпринимательство, открытие филиалов эстонской компании в Евросоюзе, бизнес-визы в Эстонию — во все страны Шенгена, кредиты в местных банках, дистанционная регистрация без вашего присутствия. Учитывая выгодное географическое положение, Эстония представляет собой очень удобное для ведения бизнеса государство. Находясь между Россией и западноевропейскими странами, она стала прекрасной транзитной зоной.</p>
        <p>Но плюсы открытия бизнеса в Эстонии не исчерпываются одним лишь её географическим положением. Чрезвычайно привлекательным является тот факт, что с 2000 года в Эстонии введена 0%-ая ставка корпоративного налога на прибыль юридических лиц. Это выгодно прежде всего тем предпринимателям, которые используют полученный доход не для выплат физическим лицам, а для вложения в дальнейшее развитие бизнеса.</p>
        <p>Наши специалисты с удовольствием примут активное участие в создании Вашего бизнеса.
        Мы предлагаем исключительное качество обслуживания вашей организации на всех стадиях её регистрации и существования.
        У нас вы можете заказать как разовые консультационные услуги, так и комплексное сопровождение всех юридически значимых моментов.
        </p>
      </div>

      <div class="title">
        <h2>Зарегистрируйте фирму в Эстонии — это выгодно и удобно!</h2>
        <!-- <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> -->
      </div>
      <div class='text'>
        <p>Коротко о том, что дает регистрация фирмы в Эстонии:</p>
        <ul>
          <li>возможность использования маркировки на товарах «сделано в ЕС»</li>
          <li>развитый интернет-банкинг и возможность управлять счетами фирмы в Эстонии из любого места, где есть интернет</li>
          <li>получение временного ВНЖ в Эстонии</li>
          <li>работа в Ес не ограничена, есть возможность открывать европейские филиалы компании</li>
          <li>можно оформить на фирму транспортное средство и вывозить его в 3-и страны по временному ввозу ( до 1 года)</li>
          <li>отсутствие транспортного налога</li>
          <li>возможность получения кредитов в местных филиалах европейских банков</li>
          <li>учреждение фирмы по доверенности</li>
          <li>оформление бизнес-виз для длительного пребывания на территории стран Шенгенского соглашения.</li>
        </ul>
      </div>
    </div>
  </div>
    <div id="featured">
      <div class="title">
        <h2>Maecenas lectus sapien</h2>
        <span class="byline">Integer sit amet aliquet pretium</span>
      </div>
      <ul class="style1">
        <li class="first">
          <p class="date"><a href="#">Jan<b>05</b></a></p>
          <h3>Amet sed volutpat mauris</h3>
          <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
        </li>
        <li>
          <p class="date"><a href="#">Jan<b>03</b></a></p>
          <h3>Sagittis diam dolor amet</h3>
          <p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
        </li>
        <li>
          <p class="date"><a href="#">Jan<b>01</b></a></p>
          <h3>Amet sed volutpat mauris</h3>
          <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
        </li>
        <li>
          <p class="date"><a href="#">Dec<b>31</b></a></p>
          <h3>Sagittis diam dolor amet</h3>
          <p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
        </li>
      </ul>
    </div>
    <div id="copyright">
      <span>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a></span>
      <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
    </div>
  </div>
</div>